[Unit]
Description=Change the wallpaper on timer activation
Wants=wallpaper.timer
[Service]
ExecStart=/bin/bash -c chainos-wallpaper
[Install]
WantedBy=multi-user.target
