[Unit]
Description=Brightness Bar

[Service]
Type=simple
ExecStart=/usr/bin/chainos-xob-bri
Restart=on-failure

[Install]
WantedBy=graphical-session.target
